@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  background-color: #0f172a;
  overflow-x: hidden;
}

img {
  width: 100%;
  height: auto;
  transition: 0.3s ease all;
}

.loader {
  width: 80px;
  height: 80px;
  display: grid;
  border:8px solid #0000;
  border-radius: 50%;
  border-color:#E4E4ED #0000;
  animation: s6 0.5s infinite linear;
}
.loader::before,
.loader::after {    
  content:"";
  grid-area: 1/1;
  margin:4px;
  border:inherit;
  border-radius: 50%;
}
.loader::before {
  border-color:#eab308 #0000;
  animation:inherit; 
  animation-duration: 0.25s;
  animation-direction: reverse;
}
.loader::after {
  margin:16px;
}

@keyframes s6 { 
  100%{transform: rotate(1turn)}
}
